<a href="https://colab.research.google.com/github/patmadp16/scraping_data/blob/main/WebScrapping_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#mengimport library
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#membuat variabel list untuk menyimpan data scrapping
Judul=[]
Tahun=[]
Rating=[]

In [ ]:
#membuka url dan melakukan scrapping dari url 
url = "https://www.imdb.com/chart/top/?ref_=nv_mv_250"
req = requests.get(url).content

In [ ]:
#menggunakan fungsi find dan find_all dari library beautifulSoup untuk proses ekstraksi data dari elemen
soup = BeautifulSoup (req, "html.parser")
list = soup.find("tbody", {"class":"lister-list"}).find_all("tr")
x = 1
for i in list:
    mtitle = i.find("td",{"class":"titleColumn"})
    myear = i.find("span",{"class":"secondaryInfo"})
    mrating = i.find("td",{"class":"ratingColumn"})
    Judul.append(mtitle.text) #gunakan append untuk menyimpan kedalam variabel list yang telah dibuat sebelumnya
    Tahun.append(myear.text)
    Rating.append(mrating.text)

In [ ]:
#membuat data frame yang memiliki haeder Judul Video, Tahun Rating
data = pd.DataFrame({'Judul Video' : Judul, 'Tahun':Tahun,'Rating' :Rating})
#menampilkan data yang telah diekstrak
data

                                           Judul Video   Tahun   Rating
0    \n      1.\n      The Shawshank Redemption\n(1...  (1994)  \n9.2\n
1            \n      2.\n      The Godfather\n(1972)\n  (1972)  \n9.1\n
2    \n      3.\n      The Godfather: Part II\n(197...  (1974)  \n9.0\n
3          \n      4.\n      The Dark Knight\n(2008)\n  (2008)  \n9.0\n
4             \n      5.\n      12 Angry Men\n(1957)\n  (1957)  \n8.9\n
..                                                 ...     ...      ...
245  \n      246.\n      Neon Genesis Evangelion: T...  (1997)  \n8.0\n
246    \n      247.\n      Nights of Cabiria\n(1957)\n  (1957)  \n8.0\n
247        \n      248.\n      Andrei Rublev\n(1966)\n  (1966)  \n8.0\n
248             \n      249.\n      Drishyam\n(2013)\n  (2013)  \n8.0\n
249   \n      250.\n      The Princess Bride\n(1987)\n  (1987)  \n8.0\n

[250 rows x 3 columns]

In [ ]:
#menyimpan file dengan nama ImbVideo
data.to_csv("/content/drive/MyDrive/ImbVideo.csv", index=False, encoding='UTF-8')